html, body {
  max-width: 100%;
  overflow-x: hidden;
}
/*Header */
#header {
  background-color: #1E8449;
  height: 70px;
}
ul {
  list-style: none;
}
.social-icons li,.list-items li {
  display: inline;
}
#header a {
  text-decoration: none !important;
  color: white;
  font-size: 19px;
  font-weight: 400;
}
#nav-menu {
  margin-left: 57%;
}
#nav-menu a {
  padding-left: 8px;
}
.navbar-toggler {
  margin-left:15.5%;
  background-color: lightgrey;
}
/*Main*/
#main h1{
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 80px;
  font-size: 40px;
}
.animate__animated {
   --animate-duration: 2s;
}
.btn{
  margin-bottom:40px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
/* Menu*/
#restaurant-menu {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #f8f9fa;
}
#menu-header h1 {
  margin: auto;
  padding-bottom: 10px;
}
.restaurant-menu-top {
  background-color: #1E8449;
}
.restaurant-menu-top a {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
#menu {
  padding-left: 120px;
}
.tab-pane {
  padding-top: 60px;
  padding-bottom: 20px;
}
/*card*/
.card {
  width: 352px;
  height: 340px;
  margin-bottom: 50px;
}
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}
.back-content {
  text-align: center;
  margin-top:30px;
}
.card-inner {
  position: relative;
  height: 100%;

  transition: -webkit-transform 1s;
  transition: -moz-transform 1s;
  transition: -ms-transform 1s;
  transition: -o-transform 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
  /* -webkit-perspective: 1200px;
   -moz-perspective: 1200px;
   -ms-perspective: 1200px;*/
}
.card-back,.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/**/
.restaurant-menu-content a{
  text-decoration: none;
}
.restaurant-menu-content p {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.restaurant-menu-content {
  background-color:#f8f9fa;
}
.restaurant-menu-content i {
  color : #068b78;
}
/*aboutUs*/
#aboutUs {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #f8f9fa;
}
#aboutUs h1 {
  margin:auto;
  margin-bottom: 25px;
}
#aboutUs p {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
}
.circle {
  width: 90px;
  height: 90px;
  border:3px solid #068b78;
  border-radius: 45px;
  line-height:105px;
  margin: auto;
  margin-top: 20px;
}
#aboutUs .fas {
  color: #068b78;
}
#aboutUs a {
  text-decoration: none;
  color: black;
}
/*Adress*/
.adress-content {
  margin-left: 70px;
  margin-top: 70px;
}
#adress h1 {
  font-weight: bold;
}
#adress p {
  font-size: 21px;
  font-weight: 400;
}
#btn3 {
  margin-left: 10%;
}
/*Footer*/
#footer p {
  font-size: 21px;
  font-weight: 400;
}
#footer a {
  text-decoration: none;
  color: #3f3f44;
}
.contact {
  margin-left: 33%;
}
.social-icons {
  margin-left: 29%;
}
/*Media Queries*/
@media (max-width: 575.98px) { }
 #menu{
   margin-left: 26px;
 }
@media (max-width: 767.98px) {
  #nav-menu {
    margin-left: 20% !important;
  }
  #header-title {
    margin-left: 8%;
  }
  #nav-menu a {
    font-size: 13px;
  }
  #main h1 {
    font-size: 33px;
  }
  .restaurant-menu-top a {
    font-size: 16px !important;
  }
  #menu {
    margin-left: -5px !important;
  }
 .card {
  width: 202px !important;
  height: 250px !important;
  margin-bottom: 50px;
  }
  #restaurant-menu img {
   width: 200px !important;
   height: 180px !important;
 }
  #restaurant-menu .row {
   margin-left: -85px !important;
   margin-right: -85px !important;
 }
 .back-content p{
  font-size: 13px;
 }
 #restaurant-map iframe {
  width :745px !important;
  height : 550px;
 }
 #adress {
  padding-bottom: 30px;
 }
 #adress h1 {
  margin-left: 180px;
/*margin-bottom: -20px; */
 }
 #btn2 {
  margin-left: 10px;
 }
 .adress-content p,button {
  margin-left: 0px;
  margin-top: -20px;
 }
 #adress p {
  font-size: 21px;
  font-weight: 400;
  margin-left: 15px;
 }
 #btn3 {
  margin-left: 20.3%;
 }
 .contact {
  margin-left: 15%;
  margin-right: -25%;
 }
}
@media (max-width: 991.98px) {
 #header a {
  font-size: 16px;
  }
 #nav-menu {
  margin-left: 42%;
  }
 #nav-menu a {
  padding-left: 5px;
 }
 #main h1{
  font-size: 38px;
 }
 .btn{
  width: 220px;
  height: 58px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
 }
 #menu-header h1 {
  margin: auto;
  padding-bottom: 10px;
  font-size: 35px;
 }
 .restaurant-menu-top a {
  font-size: 19px;
  font-weight: 600;
 }
 #menu {
  padding-left: 0;
  margin-left: -15px;
  margin-right: -100px;
 }
 .card {
  width: 252px;
  height: 318px;
  margin-bottom: 50px;
 }
 #restaurant-menu img {
 width: 250px !important;
 height: 250px;
 }
#restaurant-menu .row {
 margin-left: -65px;
 margin-right: -65px;
 }
.back-content {
 margin-top:20px;
 }
.adress-content {
 margin-left: 70px;
 margin-top: 70px;
 }
 #restaurant-map iframe {
 width :600px !important;
 height : 550px;
 }
 #adress h1 {
 font-weight: bold;
 font-size: 35px;
 margin-left: 80px;
 margin-top: -20px;
 }
 .adress-content button {
 margin-left: 80px;
 }
 #adress p {
 font-size: 19px;
 font-weight: 400;
 margin-left: 85px;
 }
 #btn3 {
 margin-left: 20.3%;
 }
 #aboutUs {
 padding-top: 20px;
 padding-bottom: 80px;
 background-color: #f8f9fa;
 }
 #aboutUs h1 {
 font-size: 35px;
 }
 #footer p {
 font-size: 19px;
 font-weight: 400;
 }
 .contact {
 margin-left: 33%;
 }
 .weatherwidget-io {
  display: none !important;
  }
}
@media (max-width: 1199.98px) {
 .weatherwidget-io {
  display: none !important;
 }
}
