
/*Header */
#header {
background-color: #1E8449;
height: 70px;
}
ul {
  list-style: none;
}
.social-icons li,.list-items li {
  display: inline;
}
#header a {
  text-decoration: none !important;
  color: white;
  font-size: 19px;
  font-weight: 400;
}
.navbar-toggler {
  margin-left:15.5%;
  background-color: lightgrey;
}
.pos-f-t {
  color: black;
}
#restaurant {
  margin-right: 12%;
  margin-left: 12%;
}
#main-nav ul {
  text-align: left;
  justify-content:flex-start;
}
/*Main*/
#main h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
.carousel-caption h1 {
  margin-bottom: 80px !important;
  font-size: 40px;
}
/*.carousel-caption*/ .btn{
  margin-bottom:40px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

/*aboutUs*/
#aboutUs {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #f8f9fa;
}
#aboutUs h1 {
  margin:auto;
  margin-bottom: 40px;
}
#aboutUs p {
  margin-bottom: 30px;
}
#aboutUs .fas {
  color: #4B4638;
}
#aboutUs a {
  text-decoration: none;
  color: black;
}
/*Adress*/
.adress-content {
  margin-left: 70px;
  padding-top: 70px;
}
#adress h1 {
  font-weight: bold;
}
#adress p {
  font-size: 21px;
  font-weight: 400;
}
#btn2 {
  margin-left: 70px;
}
/* Menu*/
#restaurant-menu {
 padding-top: 25px;
  padding-bottom: 40px;
  background-color: #f8f9fa;
}
#menu-header{
  margin-left: 690px;
  padding-bottom: 10px;
}
.restaurant-menu-top {
  background-color: #1E8449;
}
.restaurant-menu-top a {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
#menu {
  padding-left:70px;
}
.tab-pane {
  padding-top: 60px;
  padding-bottom: 20px;
}
.project{
margin-bottom: 40px;
}
.restaurant-menu-content a{
  text-decoration: none;
}
.restaurant-menu-content .card{
  width: 352px;
}
.restaurant-menu-content p{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.restaurant-menu-content {
  background-color:#f8f9fa;
}
/*Footer*/
#footer{

  padding-top: -30px;
}
